extends layout

block content
  .container
    // Static navbar
    .navbar.navbar-default(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Onetono
        .navbar-collapse.collapse.navbar-ex1-collapse
          ul.nav.navbar-nav
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Locations
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='#') Johannesburg
                li
                  a(href='#') Cape Town
                li
                  a(href='#') Durban
                li.divider
                li.dropdown-header Recommended
                li
                  a(href='#') Local Location
                li
                  a(href='#') Interesting Location
            li
              a(href='./') VPN Portal
            li
              a(href='./') Free Wifi

          ul.nav.navbar-nav.navbar-right
            li
              a(href='./') Register
            li
              a(href='./') Login

          div.col-sm-3.col-md-3
            form.navbar-form.navbar-right(role='search')
              div.input-group
                input.form-control(type="text", placeholder="Search for...")
                span.input-group-btn
                  button.btn.btn-default(type='button') Go!

    .row
      // Side Navbar
      div.col-md-2
        ul.nav.nav-pills.nav-stacked
          li.active
            a(href='./') Notices
          li
            a(href='./') Eat and Stay
          li
            a(href='./') Security
          li
            a(href='./') Shop
          li
            a(href='./') Services
          li
            a(href='./') Learning Channel
          li
            a(href='./') Emergency

      .container
        .row
          // Carousel
          div.carousel.slide(data-ride='carousel').col-md-10
            ol.carousel-indicators
              li.active(data-target='#myCarousel', data-slide-to='0')
              li(data-target='#myCarousel', data-slide-to='1')
              li(data-target='#myCarousel', data-slide-to='2')
            .carousel-inner
              .item.active
                img(src='https://placehold.it/350x250', alt='First slide')
                .container
                  .carousel-caption
                    h1 Example headline.
                    p
                      | Note: If you&apos;re viewing this page via a
                      code file://
                      |  URL, the &quot;next&quot; and &quot;previous&quot; Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.
                    p
                      a.btn.btn-lg.btn-primary(href='#', role='button') Sign up today
              .item
                img(src='https://placehold.it/350x250', alt='Second slide')
                .container
                  .carousel-caption
                    h1 Another example headline.
                    p
                      | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    p
                      a.btn.btn-lg.btn-primary(href='#', role='button') Learn more
              .item
                img(src='https://placehold.it/350x250', alt='Third slide')
                .container
                  .carousel-caption
                    h1 One more for good measure.
                    p
                      | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    p
                      a.btn.btn-lg.btn-primary(href='#', role='button') Browse gallery
            a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
              span.glyphicon.glyphicon-chevron-left
            a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
              span.glyphicon.glyphicon-chevron-right

        .div(id="map")